{% extends 'base.html' %}

{% block content %}

<h2 class="mb-4">Admin Dashboard</h2>

<div class="row">

<div class="col-md-3">
<div class="card text-center p-3">
<h4>📦 Products</h4>
<h3>{{ products }}</h3>
<a href="/admin-products/" class="btn btn-primary">Manage</a>
</div>
</div>

<div class="col-md-3">
<div class="card text-center p-3">
<h4>👥 Customers</h4>
<h3>{{ users }}</h3>
</div>
</div>

<div class="col-md-3">
<div class="card text-center p-3">
<h4>📊 Analytics</h4>
<h3>Coming Soon</h3>
</div>
</div>

</div>

{% endblock %}