{% extends 'base.html' %}

{% block content %}

<h2>Your Cart</h2>

<table class="table table-bordered">

<tr>

<th>Product</th>
<th>Price</th>
<th>Quantity</th>
<th>Action</th>

</tr>

{% for item in items %}

<tr>

<td>{{ item.product.name }}</td>

<td>₹{{ item.product.price }}</td>

<td>{{ item.quantity }}</td>

<td>

<a href="/remove/{{item.id}}" class="btn btn-danger">

Remove

</a>

</td>

</tr>

{% endfor %}

</table>

<h3>Total: ₹{{ total }}</h3>

<a href="/checkout/" class="btn btn-success">

Proceed to Checkout

</a>

{% endblock %}