{% extends 'base.html' %}

{% block content %}

<div class="col-md-5 mx-auto">

<h2 class="mb-4">Login</h2>

<form method="POST">

{% csrf_token %}

<div class="mb-3">

<label>Username</label>

<input type="text" name="username" class="form-control" required>

</div>

<div class="mb-3 position-relative">

<label>Password</label>

<input type="password" name="password" id="password" class="form-control" required>
<i class="fa fa-eye toggle-password" onclick="togglePassword('password', this)" style="position:absolute; right:15px; top:38px; cursor:pointer;">
</i>

</div>

<button class="btn btn-success w-100">Login</button>

</form>

<p class="mt-3 text-center">

Don't have an account?

<a href="/register/">Register</a>

</p>

</div>


<script>

function togglePassword(fieldId, icon) {

    var input = document.getElementById(fieldId);

    if (input.type === "password") {
        input.type = "text";
        icon.classList.remove("fa-eye");
        icon.classList.add("fa-eye-slash");
    } 
    else {
        input.type = "password";
        icon.classList.remove("fa-eye-slash");
        icon.classList.add("fa-eye");
    }

}

</script>
{% endblock %}